@model LibraryManagement.Models.Member

@{
    ViewData["Title"] = "Member Details";
}

<h1 class="px-5 py-2">Member Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-6 col-6 col-sm-3">Name</dt>
        <dd class="col-6 col-sm-9">@Model.Name</dd>

        <dt class="col-6 col-sm-3">Email</dt>
        <dd class="col-6 col-6 col-sm-9">@Model.Email</dd>

        <dt class="col-6 col-sm-3">Member-Ship Date</dt>
        <dd class="col-6 col-sm-9">@Model.MemberShipDate</dd>

        
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>